<div class="review-widget {{ settings.review_section_style }}">
  <!-- INSERT REVIEW WIDGET HERE -->
  

{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
</div>