{% comment %} Header section {% endcomment %}


  

<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" data-doc-height="1" role="banner" class="navbar-5 w-nav">
  <a style="margin-left: 5%; margin-right: 30px;" href="https://accuselect.nl/">
    <img style="width: 150px;max-width: max-content;" href="https://accuselect.nl/" src="https://accuselect.nl/images/logo-orange.png" loading="lazy" srcset="https://accuselect.nl/images/logo-orange-p-500.png 500w, https://accuselect.nl/images/logo-orange-p-800.png 800w, https://accuselect.nl/images/logo-orange-p-1080.png 1080w, https://accuselect.nl/images/logo-orange-p-1600.png 1600w, https://accuselect.nl/images/logo-orange-p-2000.png 2000w, https://accuselect.nl/images/logo-orange.png 3046w" sizes="(max-width: 479px) 20vw, (max-width: 767px) 15vw, 8vw" alt="Accuselect logo, besparen met een thuisbatterij" class="image-18">
    {% comment %} {% assign customLogo = section.settings.custom_logo | default: "https://cdn.shopify.com/s/files/1/0784/5507/9254/files/logo-orange-p-1080.png?v=1706789686" %}

  <img style="width: 150px; max-width: max-content;" href="https://accuselect.nl/" src="{{ customLogo }}" loading="lazy" alt="Accuselect logo" class="image-18"> {% endcomment %}
  </a>
  <div class="container-10 w-container">
    <nav role="navigation" class="nav-menu-4 w-nav-menu" style="width: 100%; ">
      <div class="blx-b-wrap-link-1-2">
        <div data-hover="false" data-delay="0" class="blx-b-dropdown-1-3 w-dropdown">
          <div class="blx-b-dropdown-open-1-2 w-dropdown-toggle">
            <div class="blx-b-link-1">Thuisbatterij</div>
          </div>
          <nav class="blx-b-dropdown-list-1-2 w-dropdown-list">
            <div class="blx-b-container-list-1-2 overons">
              <div class="blx-b-wrap-grid-1-2 overons">
                <div class="blx-b-container-grid-1-2">
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b3b-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/thuisbatterij/hoe-werkt-het/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >Hoe werkt een thuisbatterij?</div>
                      </a>
                    </div>
                  </div>
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b42-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/thuisbatterij/waarom/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >Waarom een thuisbatterij?</div>
                      </a>
                    </div>
                  </div>
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b49-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/verduurzamen/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >Verduurzamen</div>
                      </a>
                    </div>
                  </div>
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b49-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/thuisbatterij-subsidie/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >Subsidie</div>
                      </a>
                    </div>
                  </div>
                  
                </div>
                <div class="blx-b-container-grid-1-2">
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b55-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/thuisbatterij/slimme-aansturing/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >Slimme aansturing</div>
                      </a>
                    </div>
                  </div>
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b55-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/thuisbatterij/off-grid/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >Thuisbatterij voor stroomuitval</div>
                      </a>
                    </div>
                  </div>
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b5c-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/installatie/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >Installatie</div>
                      </a>
                    </div>
                  </div>
                  <div id="w-node-_88c5462e-692c-1809-f92c-c391fc123b5c-d2b51b13" class="blx-b-grid-wrap-link-1">
                    <div class="blx-b-grid-wrap-heading-1">
                      <a href="https://accuselect.nl/thuisbatterij/btw-teruggave/" class="blx-b-lin-1 w-inline-block">
                        <div class="blx-b-grid-link-1" >BTW teruggave</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <style>
        @media (max-width: 767px) {
          .directmenu {
            display: block !important;
          }
        }
      </style>
      <a href="https://accuselect.nl/kopen/thuisbatterij-samenstellen/" class="blx-b-link-1 w-nav-link directmenu" style="display: none;" >Thuisbatterij kopen</a>
      <a href="https://accuselect.nl/thuisbatterij/" class="blx-b-link-1 hide w-nav-link">Thuisbatterij</a>
      <a href="https://accuselect.nl/thuisbatterij/hoe-werkt-het/" class="blx-b-link-1 sub w-nav-link" >Hoe werkt een thuisbatterij?</a>
      <a href="https://accuselect.nl/thuisbatterij/waarom/" class="blx-b-link-1 sub w-nav-link" >Waarom een thuisbatterij?</a>
      <a href="https://accuselect.nl/verduurzamen/" class="blx-b-link-1 sub w-nav-link" >Verduurzamen</a>
      <a href="https://accuselect.nl/thuisbatterij/slimme-aansturing/" class="blx-b-link-1 sub w-nav-link" >Slimme aansturing</a>
      <a href="https://accuselect.nl/thuisbatterij/off-grid/" class="blx-b-link-1 sub w-nav-link" >Thuisbatterij voor stroomuitval</a>
      <a href="https://accuselect.nl/installatie/" class="blx-b-link-1 sub w-nav-link" >Installatie</a>
      <a href="https://accuselect.nl/thuisbatterij/btw-teruggave/" class="blx-b-link-1 sub w-nav-link" >BTW teruggave</a>
      <a href="https://accuselect.nl/thuisbatterij-subsidie/" class="blx-b-link-1 sub w-nav-link" >Subsidie</a>
      <a href="https://accuselect.nl/besparen/" class="blx-b-link-1 w-nav-link" >Besparen</a>
      <a href="https://accuselect.nl/thuisbatterij/zonnepanelen/" class="blx-b-link-1 w-nav-link" >Zonne-energie opslaan</a>
      <a href="https://accuselect.nl/over-ons/" class="blx-b-link-1 hide w-nav-link" >Over ons</a>
      <a href="https://accuselect.nl/over-ons/" class="blx-b-link-1 sub w-nav-link" >Accuselect</a>
      <a href="https://accuselect.nl/faq/" class="blx-b-link-1 sub w-nav-link" >FAQ</a>
      <a href="https://accuselect.nl/begrippenlijst/" class="blx-b-link-1 sub w-nav-link" >Begrippenlijst</a>
      <a href="https://accuselect.nl/werken-bij/" class="blx-b-link-1 sub w-nav-link" >Werken bij Accuselect</a>
      <a href="https://accuselect.nl/contact/" class="blx-b-link-1 sub w-nav-link" >Contact</a>
      <div class="blx-b-wrap-link-1-2">
        <div data-hover="false" data-delay="0" class="blx-c-dropdown-1-1-2 w-dropdown">
          <div class="blx-c-dropdowntoggle-1-1-2 w-dropdown-toggle">
            <div class="blx-b-link-1">Over ons</div>
          </div>
          <nav class="blx-c-dropdown-list-1-1-3 w-dropdown-list">
            <div class="blx-c-wrap-list-1-1 _1">
              <div class="blx-c-container-grid-1">
                <div id="w-node-_516355fa-29c9-39ac-a2b6-fe92223ca552-d2b51b13" class="blx-b-grid-wrap-link-1">
                  <div class="blx-b-grid-wrap-heading-1">
                    <a href="https://accuselect.nl/over-ons/" class="blx-b-link-3 w-inline-block">
                      <div class="blx-b-grid-link-1" >Accuselect</div>
                    </a>
                  </div>
                </div>
                <div id="w-node-_516355fa-29c9-39ac-a2b6-fe92223ca559-d2b51b13" class="blx-b-grid-wrap-link-1">
                  <div class="blx-b-grid-wrap-heading-1">
                    <a href="https://accuselect.nl/faq/" class="blx-b-grid-link-1" >Veelgestelde vragen</a>
                  </div>
                </div>
                <div id="w-node-c172502f-e893-e8d1-434a-fffde6e80552-d2b51b13" class="blx-b-grid-wrap-link-1">
                  <div class="blx-b-grid-wrap-heading-1">
                    <a href="https://accuselect.nl/begrippenlijst/" class="blx-b-grid-link-1" >Begrippenlijst</a>
                  </div>
                </div>
                <div id="w-node-_1b1053cc-64be-d284-2fb8-a9c855d7c7e9-d2b51b13" class="blx-b-grid-wrap-link-1">
                  <div class="blx-b-grid-wrap-heading-1">
                    <a href="https://accuselect.nl/werken-bij/" class="blx-b-grid-link-1" >Werken bij Accuselect</a>
                  </div>
                </div>
                <div id="w-node-_1b1053cc-64be-d284-2fb8-a9c855d7c7e9-d2b51b13" class="blx-b-grid-wrap-link-1">
                  <div class="blx-b-grid-wrap-heading-1">
                    <a href="https://accuselect.nl/contact/" class="blx-b-grid-link-1" >Contact</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </div>
  <a href="https://accuselect.nl/kopen/thuisbatterij-samenstellen" aria-current="page" style="width: 500%" class="blx-c-button-1-3 direct w--current hanimate">Thuisbatterij kopen</a>
  <a href="https://accuselect.nl/#start" aria-current="page" style="width: 500%" class="blx-c-button-1-3 w--current hanimate">Bereken besparing</a>
  <div class="menu-button-5 w-nav-button">
    <div class="icon-2 w-icon-nav-menu"></div>
  </div>
</div>


{% schema %}
  {
    "name": "Header",
	
    "settings": [
      {
        "type": "image_picker",
        "id": "default_logo",
        "label": "Logo"
      },
	  {
        "type": "image_picker",
        "id": "inverted_logo",
        "label": "Transparent header logo"
      },
	  {
        "type": "range",
        "id": "height_logo",
        "label": "Logo height",
        "min": 30,
        "max": 70,
        "step": 2,
        "unit": "px",
        "default": 50,
		"info": "Crop your logo image as close as possible for maximum size."
      },
	  {
        "type": "header",
        "content": "Navigation"
      },
	  {
        "type": "select",
        "id": "navigation_type",
        "label": "Navigation type",
		"default": "center",
        "options": [
          { "value": "left",
            "label": "Left"
          },
          { "value": "right",
            "label": "Right"
          },
          { "value": "center",
            "label": "Center"
          },
          { "value": "center-logo",
            "label": "Logo center"
          },
          { "value": "hidden",
            "label": "Hidden"
          }
        ]
      },
      {
        "type": "select",
        "id": "navigation_wrapper",
        "label": "Navigation wrapper",
		"default": "fluid",
        "options": [
          { 
			"value": "",
            "label": "Default"
          },
          { "value": "fluid",
            "label": "Full"
          }
        ]
      },
	  {
        "type": "link_list",
        "id": "main_menu_link_list",
        "label": "Menu",
        "default": "main-menu"
      },
	  {
        "type": "header",
        "content": "Mobile header"
      },
	  {
        "type": "range",
        "id": "height_logo_mobile",
        "label": "Logo height",
        "min": 20,
        "max": 50,
        "step": 2,
        "unit": "px",
        "default": 28
      }
    ]
  }
{% endschema %}