/* Webflow custom CSS */

.form-step-number---brix.completed---brix {
  background-color: #ff8946 !important;  /* overwritten */
}

.form-step-progress-bar---brix.current-step---brix {
  background-color: #ff8946 !important; /* overwritten */
}

.header-column.contact {
  align-items: start !important; /*overwritten*/
}

h2 {
  color: #000 !important; /*overwritten*/
}

.header-h4 {
  color: #000000 !important; /*overwritten*/
}

.besparing {
  color: #ffffff !important; /*overwritten*/
}

/* Niet zeker of dit goed is! Heb t uitgezet
.header-column {
  align-items: start !important; 
} 
*/

.div-block-30{
  margin-bottom: 15px;
}

.div-block-25 {
  height: unset;
}

@media screen and (max-width: 991px) {
.nav-menu-4 {
  margin-top: 0px;
}
}

.form-block-3{
text-align: left;
}

.theme_funky {
--cc-bg: #f9faff;
--cc-text: #112954;
--cc-btn-primary-bg: #24315e;
--cc-btn-primary-text: var(--cc-bg);
--cc-btn-primary-hover-bg: #1d2e38;
--cc-btn-secondary-bg: #dfe7f9;
--cc-btn-secondary-text: var(--cc-text);
--cc-btn-secondary-hover-bg: #c6d1ea;
--cc-toggle-bg-off: #8fa8d6;
--cc-toggle-bg-on: #3859d0;
--cc-toggle-bg-readonly: #cbd8f1;
--cc-toggle-knob-bg: #fff;
--cc-toggle-knob-icon-color: #ecf2fa;
--cc-block-text: var(--cc-text);
--cc-cookie-category-block-bg: #ebeff9;
--cc-cookie-category-block-bg-hover: #dbe5f9;
--cc-section-border: #f1f3f5;
--cc-cookie-table-border: #e1e7f3;
--cc-overlay-bg: rgba(230, 235, 255, .85);
--cc-webkit-scrollbar-bg: #ebeff9;
--cc-webkit-scrollbar-bg-hover: #3859d0;
}

.theme_funky #c-ttl{
color: var(--cc-btn-primary-bg);
}

/* Custom border radius */
.theme_funky #cm,
.theme_funky #s-bl .act .b-acc,
.theme_funky #s-inr,
.theme_funky .cc_div .b-tl,
.theme_funky .cc_div .c-bl{
border-radius: 1.2em;
}

.theme_funky .cc_div .c-bn{
border-radius: .7em;
}


/* Direct bestellen knop */
@media screen and (max-width: 991px) {
.blx-c-button-1-3.direct.w--current {
  display: block !important;
}
}

@media screen and (max-width: 767px) {
.blx-c-button-1-3.direct.w--current {
  display: none !important;
}
}

.w-col-4{
padding-left: 15px !important;
padding-right: 15px !important;
}

@media screen and (max-width: 991px){
.button-full-home {
  width: 100%;
  font-size: 14px;
}
}

.spotligt-onboarding{
box-shadow: 0 0 0 10000px #000000ab !important;
  transition: transform 0.2s ease-in-out; /* Optional: Add a smooth transition effect */
  transform: scale(1.04); /* Increase the scale value to make it bigger */

}

.content-card.container-flex.information{
height: 70%;
}

.hanimate{
transition: letter-spacing .3s, box-shadow .4s cubic-bezier(.25, .46, .45, .94), background-color .3s cubic-bezier(.25, .46, .45, .94);
}

.hanimate:hover {
letter-spacing: 0.5px;
background-color: #9775ee;
box-shadow: 0 20px 30px -11px rgba(127, 88, 226, .6);
}

@media screen and (max-width: 991px){
.bestel_centermobile{
  width: 100% !important;
}
.extratextmobile{
  font-size: 10px;
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.radiomarginunder{
  margin-bottom: -25px !important;
}
}

@media screen and (max-width: 768px){
.nospecsmobile{
  display: none;
}
.directleft{
  height: unset;
}
}

.capacity._6{
background-image: url('../images/RadiobuttonsGiv-34.png') !important;
}

.inverter._1{
background-image: url('../images/RadiobuttonsGiv-20.png') !important;
}

.goalbattery{
justify-content: unset !important;
}

.batterygoal.installation {
width: 100% !important;
}

.echtwide {
display: inline-block;
white-space: nowrap;
width: 40% !important;
}

/* begin popup mechanisme */

.modal {
z-index: 9999;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transform: scale(1.1);
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
max-height: 90%;
max-width: 80%;
overflow-y: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 2rem 2rem;
width: 45rem;
border-radius: 1rem;
}
.close-button {
float: right;
width: 3rem;
line-height: 3rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;
font-size: 2em;
transition: font-size 0.1s ease;
}
.close-button:hover {
font-size: 2.4em;
}
.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* eind popup mechanisme */

body{
background-color: #f8f8f8 !important;
}