<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% comment %} i comment the below part BEDO {% endcomment %}

{% comment %} <div itemscope itemtype="http://schema.org/Product">

  {% section 'product-template' %}  
  
  {% section 'product-recommendations' %}
  
  {% if settings.review_widget == 'review_widget_above' %}
    {% include 'review-widget' %}
  {% endif %}
  
  {% section 'related-product' %}

  {% if settings.review_widget == 'review_widget_under' %}
    {% include 'review-widget' %}
  {% endif %}
  
  {% if collection %}
    <div class="back-box">
      <a href="{{ collection.url }}" class="btn btn--banner">
        <span class="fas fa-arrow-left" aria-hidden="true"></span>
        {{ 'products.general.collection_return' | t: collection: collection.title }}
      </a>
    </div>
  {% endif %}
  
  {% section 'quotes' %}

</div>

{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %} {% endcomment %}

{% comment %} add new part  {% endcomment %}

<div class="section-3 hero wf-section">
  <div class="container-4 onboarding">
    <div class="w-row">
      <div class="column-27 w-col w-col-6 directleft">
        <div class="direct-order-div" style=" margin-top: -30px; "><img src="https://accuselect.nl/images/Accuselect-Logo--Icons-04-1.png" loading="lazy" alt="Accuselect thuisbatterijen icoon bol" class="image-104 bolletje-2"><img src="https://accuselect.nl/images/Accuselect-Logo--Icons-02.png" loading="lazy" alt="Accuselect thuisbatterijen icoon plus" class="image-104">
          <img src="https://accuselect.nl/images/directbestellen/Giv12.png" loading="lazy" alt="GivEnergy thuisbatterij kopen, thuisaccu configuratie 10 kWh (2.6 kWh, 5.2 kWh, 7.8 kWh, 9.5 kWh, 12.1 kWh, 14.7 kWh)" id="config_img" class="direct-order-image">
        </div>
        <h1 class="header-h4 direct-order">GivEnergy thuisbatterijsysteem<br><span class="brand-span"></span><span class="brand-span"></span></h1>
        <div class="direct-order-div2 nospecsmobile">
          <div class="columns-14 w-row" style="margin-top: -5px">
            <div class="w-col w-col-7">
              <div class="div-block-19"><img src="https://accuselect.nl/images/flash.png" loading="lazy" alt="" class="image-10 summary">
                <h1 class="hero-paragraph-2">Omvormervermogen</h1>
              </div>
            </div>
            <div class="w-col w-col-5">
              <div class="div-block-19">
                <h1 class="hero-paragraph-2 summary-result" id="spec_omv_vermogen1">3 kW</h1>
              </div>
            </div>
          </div>
          <div class="columns-14 w-row" style="margin-top: -5px">
            <div class="w-col w-col-7">
              <div class="div-block-19"><img src="https://accuselect.nl/images/solar-panel-1.png" loading="lazy" alt="" class="image-10 summary">
                <h1 class="hero-paragraph-2">Batterijcapaciteit</h1>
              </div>
            </div>
            <div class="w-col w-col-5">
              <div class="div-block-19">
                <h1 class="hero-paragraph-2 summary-result" id="spec_bat_capaciteit1">2,6 kWh</h1>
              </div>
            </div>
          </div>
          <div class="columns-14 w-row" style="margin-top: -5px">
            <div class="w-col w-col-7">
              <div class="div-block-19"><img src="https://accuselect.nl/images/contract-1.png" loading="lazy" alt="" class="image-10 summary">
                <h1 class="hero-paragraph-2">Garantie</h1>
              </div>
            </div>
            <div class="w-col w-col-5">
              <div class="div-block-19">
                <h1 class="hero-paragraph-2 summary-result">12 jaar</h1>
              </div>
            </div>
          </div>
          <div class="columns-14 w-row" style="margin-top: -5px">
            <div class="w-col w-col-7">
              <div class="div-block-19"><img src="https://accuselect.nl/images/home-icon-silhouette-1.png" loading="lazy" alt="" class="image-10 summary">
                <h1 class="hero-paragraph-2">Aansluiting</h1>
              </div>
            </div>
            <div class="w-col w-col-5">
              <div class="div-block-19">
                <h1 class="hero-paragraph-2 summary-result">Monofase</h1>
              </div>
            </div>
          </div>

          <div class="columns-14 w-row" style="margin-top: -5px">
            <div class="w-col w-col-7">
              <div class="div-block-19"><img src="https://accuselect.nl/images/plug.png" loading="lazy" alt="" class="image-10 summary">
                <h1 class="hero-paragraph-2">Afmetingen omvormer (b x d x h)</h1>
              </div>
            </div>
            <div class="w-col w-col-5">
              <div class="div-block-19">
                <h1 class="hero-paragraph-2 summary-result" id="spec_omv_afmetingen1">480 x 223 x 260 mm</h1>
              </div>
            </div>
          </div>
          <div class="columns-14 w-row" style="margin-top: -5px">
            <div class="w-col w-col-7">
              <div class="div-block-19"><img src="https://accuselect.nl/images/battery-2.png" loading="lazy" alt="" class="image-10 summary">
                <h1 class="hero-paragraph-2">Afmetingen batterij (b x d x h)</h1>
              </div>
            </div>
            <div class="w-col w-col-5">
              <div class="div-block-19">
                <h1 class="hero-paragraph-2 summary-result" id="spec_bat_afmetingen1">480 x 205 x 299 mm</h1>
              </div>
            </div>
          </div>

        </div>
        <a onclick="toggleModal('popup1');" class="link-2 underline-trail direct-order w-inline-block">
          <div class="utility-paragraph" style="cursor: pointer; margin-top:-10px;">Alle specificaties -&gt;</div>
        </a>
        <div class="div-block-25 summary direct-order-block bestel_centermobile" style=" margin-bottom: 0px; ">
          <p class="form-title sub inside summary direct-order-tekst">Nu te betalen </p>
          <p class="hero-paragraph inside indication direct" id="spec_price"><span class="summary indication direct-order-tekst">€ 99,00</span><span class="text-span-13"> van de € 3936,87 </span></p>
          <p class="form-title sub inside summary direct-order-tekst">incl. 21% btw</p>
        </div>
        <div class="header-buttons direct-order w-row bestel_centermobile">
          <div class="column-25 direct-order w-col w-col-6">
            <a href="https://accuselect.nl#start" class="form-button next direct-order advice w-button">Help me kiezen</a>
          </div>
          <div class="column-26 direct-order w-col w-col-6" id="hideonpage2a">
            <a onclick="nextPage();" class="form-button next direct-order second w-button">Bestel nu</a>
          </div>
          <div class="column-25 direct-order w-col w-col-6" id="showonpage2" style="display: none; padding-right: 0px;">
            <a onclick="if (checkFirstPage()){ toggleModal('popup2'); }" class="form-button next direct-order advice w-button">Download offerte</a>
          </div>
        </div>
        <div onclick="if (checkFirstPage()){ toggleModal('popup2'); }" style="cursor: pointer;" id="hideonpage2b" class="utility-paragraph offerte">Download offerte (PDF)</div>
      </div>
      <!-- pagina splitsing -->
      <div class="w-col w-col-6" id="page_1" style="display: block;">
        <div class="container-flex home">
          <h1 class="header-h4">Stel jouw thuisbatterijconfiguratie samen.<br><span class="brand-span"></span><span class="brand-span"></span></h1>
          <div class="container-8 direct-order-div w-container">
            <div class="columns-10 w-row">
              <div class="column-14 w-col w-col-4">
                <div class="hero-paragraph header-paragraph"><span class="vinkje">✓</span> Gebruik gemiddeld 40 % meer van je zonnestroom</div>
              </div>
              <div class="column-15 w-col w-col-4">
                <div class="hero-paragraph header-paragraph"><span class="vinkje">✓</span> Word onafhankelijker <br>van het stroomnet</div>
              </div>
              <div class="column-16 w-col w-col-4">
                <div class="hero-paragraph header-paragraph"><span class="vinkje">✓</span> Werkt met alle zonnepaneel-installaties</div>
              </div>
            </div>
          </div>
          <div class="form-block-3 direct-order w-form">
          
            <form id="bestel-form" name="bestel-form" data-name="bestel-form" method="POST" action="https://accuselect.nl/do/order-request.php" class="form onboarding" data-wf-page-id="647a42a2c740b7109588f59a" data-wf-element-id="67cbb771-2ca0-dff0-aa81-78f2977103d6">
              <div class="radio-button-container w-container">
                <p class="form-title">Omvormer <span onclick="toggleModal('popup3');" id="help1" style="cursor: pointer; font-size: 0.6em;margin-left: 0.5em;color: #ff8946;text-decoration: underline;vertical-align: middle;"><img src="https://accuselect.nl/images/help.svg" style="height: 1.7em;width: auto;margin-right: 0.3em;margin-bottom: 0.1em;">Welke is geschikt?</span></p>
                <p class="hero-paragraph uitleg">Kies het vermogen van de omvormer voor jouw situatie.</p>
                <div class="div-block-29" id="omvormerAlert" style="margin-bottom: 10px; display: none;">
                  <div class="text-block-90">Maak een keuze.</div>
                </div>
                <div class="radio-buttons genders goalbattery">

                  <label class="radio-button-field-2 inverter1 vertical w-radio">
                    <div class="w-form-formradioinput w-form-formradioinput--inputType-custom radio-button gender male inverter _1 w-radio-input"></div>

                    <input type="radio" data-name="omvormer" id="omvormer_optie1" name="omvormer" value="omvormer_optie1" style="opacity:0;position:absolute;z-index:-1">
                    <h1 class="hero-paragraph-2 extra vertical" id="omv_1_price">hii all </h1>

                  </label>

                  <label class="radio-button-field-2 inverter1 vertical w-radio">
                    <div class="w-form-formradioinput w-form-formradioinput--inputType-custom radio-button gender male inverter _2 w-radio-input"></div>

                    <input type="radio" data-name="omvormer" id="omvormer_optie2" name="omvormer" value="omvormer_optie2" style="opacity:0;position:absolute;z-index:-1">
                    <h1 class="hero-paragraph-2 extra vertical" id="omv_2_price" >+ € 2400,00</h1>

                  </label>
                </div>
                
              </div>

              